apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: web-container
        image: samborms/go-frontend:v2  # Tu imagen de Docker Hub
        ports:
        - containerPort: 8080
        # Si tu código de Go lee la URL de la API desde una variable de entorno:
        env:
        - name: API_URL
          #value: "http://api-service:8081/api/usuarios"
          value: "http://127.0.0.1:33587/api/usuarios"
---
apiVersion: v1
kind: Service
metadata:
  name: web-service
spec:
  selector:
    app: web
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: NodePort # Esto nos permitirá acceder desde fuera de Minikube